{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Choose a Method</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>Spill the Beans☕︎</header>

    <div class="category-list">
      {% for category in categories %}
      <div class="category">
        {% if category.icon %}
        <img
          src="{{ category.icon.url }}"
          alt="{{ category.name }}"
          class="category-icon"
        />
        {% endif %} {{ category.name }}
      </div>
      {% endfor %}
    </div>

    <div class="method-list">
      {% for method in methods %}
      <div class="method">
        <img
          src="{% static 'coffee/icons/'|add:method.name|add:'.png' %}"
          alt="{{ method.name }}"
        />
        <div>{{ method.name }}</div>
      </div>
      {% endfor %}
    </div>

    <a
      href="{% url 'add_recipe' %}"
      class="add-button"
      title="Add a new recipe!"
      >⛾</a
    >
  </body>
</html>
