{% extends 'base.html' %}


{% load static %}

{% block title %}Log In | Spill the Beans{% endblock %}

{% block content %}
  <div class="login-container">
    <h2 class="login-heading">Welcome Back</h2>
    <form method="post" class="login-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
      </div>

      <button type="submit" class="login-button">Log In</button>
    </form>

    <p class="signup-link">
      Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
    </p>
  </div>
{% endblock %}
